---
import Breadcrumb from '@/components/Breadcrumb.astro';
import PageHeader from '@/components/PageHeader.astro';
import SeoHead from '@/components/SeoHead.astro';
import { servicesMock } from '@/content/servicesMock';
import Layout from '@/layouts/Layout.astro';
import ServiceBlock from '@/sections/services/ServiceBlock.astro';

const SeoContent = {
  title: 'Nuestros Servicios | Lagunas Claras',
  description: 'Soluciones profesionales para el mantenimiento y recuperación de espejos de agua.',
};

const content = {
  title: 'Nuestros Servicios',
  subtitle:
    'Ofrecemos soluciones integrales para el mantenimiento y recuperación de espejos de agua',
};
---

<Layout>
  <SeoHead title={SeoContent.title} description={SeoContent.description} />
  <Fragment slot="main">
    <main class="bg-background mx-auto mt-24 min-h-screen w-[80%] pb-20">
      <Breadcrumb items={[{ label: 'Servicios', href: '/servicios' }]} />
      <PageHeader title={content.title} subtitle={content.subtitle} />

      <!-- Services List -->
      <div class="mx-auto flex max-w-6xl flex-col gap-20 px-6">
        {
          servicesMock.map((service, index) => {
            const isEven = index % 2 === 0;
            return (
              <ServiceBlock
                title={service.title}
                description={service.description}
                image={service.image}
                reverse={isEven}
                buttonRoute={`/servicios/${service.title.toLowerCase().replace(/\s+/g, '-')}`}
              />
            );
          })
        }
      </div>
    </main>
  </Fragment>
</Layout>
